<% @subtitle = "Delete User" %>
<%= erb :"common/header" %>

<p class="error"><strong>Unknown user</strong></p>

<p class="navigation">Return to <a href="/users">User page</a>.</p>

<%= erb :"common/footer" %>